/*probably just goint to do the styles here*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #625a51;
	margin-top:5px;
	margin-bottom: 5px;
}

h6 {
	word-wrap: break-word;
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: #625a51;
	transition: color 0.15s ease;
}

a:hover,
a:focus,
a:active {
	color: #47423b;
}

.main_header {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 0;
	padding-bottom: 10px;
}

.navbar.navbar-default {
	background-color: transparent;
	background-image: none;
	box-shadow: none;
	border: none;
}

.navbar-default.navbar {
	background: transparent;
	background-image: none;
	border-bottom: none;
	border-top: none;
}

@media screen and (max-width: 767px) {
	.navbar-nav.navbar-right {
		text-align: right;
	}
}

.navbar-brand {
	height: auto;
}

.logo {
	max-width: 250px;
	position: relative;
}

@media screen and (min-width: 768px) {
	.navbar-nav>li>a {
		padding: 50px 15px;
		font-size: 1.1em;
	}
}

.table-responsive thead {
	background: #c1bdad;
	padding: 20px 0;
}

.table-responsive thead th {
	color: #ffffff;
}

.alert-danger {
	margin-top: 25px;
}

/*form styles*/

.inline {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.inline select {
	margin-top: 25px;
	width: 75px;
	margin-right: 10px;
}

.inline .form-group {
	flex: 1;
}

<<<<<<< HEAD
=======
.infoContainer {
	margin-top: 2em;
}

.pInfo {
	text-align: justify;
	font-size: 18px;
}

.pInfo1 {
	text-align: justify;
	font-size: 16px;
	margin-left: 1em;
}

.pInfo2 {
	text-align: justify;
	font-size: 16px;
	margin-left: 2em;
}

.pInfo3 {
	text-align: justify;
	font-size: 16px;
	margin-left: 3em;
}*/

>>>>>>> d9195fffbb8ca406508e4f9addbb1a9e914c3d0a
/* footer */
.main_footer {
	background-size: 100% 100%;
	padding-top: 45px;
	padding-bottom: 30px;
	position: relative;
	top: 200px;
}

@media screen and (min-width: 767px) {
	.main_footer {
		top: 100px;
	}

	.main_footer .col-sm-4:nth-child(1){
		top: 25px;
	}
	.main_footer .col-sm-4:nth-child(2){
		top: 65px;
	}
	.main_footer .col-sm-4:nth-child(3){
		top: 90px;
	}
}

.main_footer .icon {
	max-width: 50px;
	display: block;
	margin: 0 auto;
}

.footer_social {
	padding-top: 35px;
}

.footer_social ul {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.footer_social li {
	display: inline-block;
	margin-right: 25px;
}

.footer_social li:last-child {
	margin-right: 0;
}

.footer_social a {
	font-size: 40px;
	color: #ffffff;
}

@media screen and (max-width: 767px){
	.footer_social {
		padding-top: 0;
		text-align: center;
	}

	.footer_social ul {
		display: inline-block;
	}

	.footer_social a {
		color: #777;
	}
}

.footer_links {
	padding-top: 0;
}

.footer_links::after {
	content: " ";
	display: table;
	clear: both;
}

.footer_links ul {
	list-style: none;
	padding: 0;
	float: right;
	margin-bottom: 0;
}

@media screen and (max-width: 767px){
	.footer_links {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer_links ul {
		display: block;
		margin: 0 auto;
	}
}

.footer_links li {
	margin-right: 10px;
	display: inline-block;
}

@media screen and (max-width: 767px){
	.footer_links li {
		margin-right: 0;
		display: block;
	}
}

.footer_links li:last-child {
	margin-right: 0;
}

.footer_links a {
	font-weight: 700;
	color: #777;
	font-size: 1.1em;
}