/*.faucet_btn {

}

.btn.faucet_btn,
.btn.faucet_btn:focus,
.btn.faucet_btn:active {
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fff 0, #c1bdad 100%);
}

.btn.faucet_btn:hover {
  background-image: linear-gradient(to top, #c1bdad 0, #c1bdad 100%);
}

.faucet_selected {
	text-shadow: none !important;
	color: #fff;
	background-image: none !important;
	background-color: #ed4a2e;
	transition: background-color 0.15s ease;
}

.faucet_selected:hover {
	color: #fff;
	text-shadow: none !important;
	background-image: none !important;
	background-color: #872311;
}*/