.tableContainer {
    position: relative;
}

.table-responsive {
    height: 35em;
    overflow: auto;
}

.loadingContainer {
    width: 20%;
    margin: 0 auto;
}

.activeProducer {
    background: #FADDA8;
    color: #000;
}

.offProducer {
    background: #DF4D31;
}

.copyPeersBtn {
    padding-top: .2em;
    margin-left: .5em;
    background: transparent;
    outline: none;
    border: none;
}

.copyPeersBtn:hover {
    color: #F5933C;
}

.copyPeersBtn>i {
    margin-left: .5em;
}

.tooltip.right{
    margin-left: .8em;
    position: relative;
    align-self: center;
}

th.sortable {
    position: relative;
    cursor: pointer;
}

th.sortable::before {
    position: absolute;
    top: 0;
    right: 10px;
    font-family: "FontAwesome";
    height: 100%;
    display: flex;
    align-items: center;
}

.sortByProd::before {
    content: "\f0d7";
}

.sortByProdRev::before {
    content: "\f0d8";
}